body{
    margin:0;
}
.team {
    font-family: var(--font-Beomsuk);
    font-size: 15px;
    color: #464040;
    margin: 20px 30px 30px 30px;
}
.mbti {
    width: 100%;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #464040;
    font-family: var(--font-SCDream);
}
.page {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fef1f1;

}
.title {
    font-size: 23px;
    font-weight: 800;
    color: #f9a5a5;
    text-align: center;
    margin: 5px 0px 8px 0px;
    font-family: var(--font-SCDream);
}
.middle {
    font-size: 15px;
    font-weight: 800;
    color: #f9a5a5;
    text-align: center;
    margin-bottom: 10px;
    font-family: var(--font-SCDream);
}

.image {
   
    width: 220px;
    height: 280px;
    margin: 20px auto 20px auto;
}
.btn {
    color:white;
    width: 270px;
    height: 40px;
    font-size: 13px;
    background-color: #ee9090;
    border-radius: 12px;
    text-align: center;
    line-height: 40px;
    margin: 10px 0px;
    font-family: var(--font-Suite);
    cursor: pointer;
}
.NextBtn {
    height: 40px;
    color: #fff;
    font-family: var(--font-Suite);
    line-height: 40px;
    font-size: 13px;
    border:none;
    border-radius: 12px;
    background-color: #ee9090;
   cursor: pointer;
}

.inputBtn{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    width: 260px;
    background-color: #fadbdb;
    border-radius: 8px;
    margin-top: 20px;
}
.content {
    border: 4px dashed #464040;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}
.ex01 {
    font-size: 17px;
    font-weight: bolder;
    margin: 25px 10px 10px 10px;
    text-align: center;
}

.resultTitle {
    font-family: "Dosis", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #fd8e8e;
    text-align: center;
    text-shadow: 3px 3px 2px #f0cba8;
    margin: 7px 0px 10px 0px;
}
.resultContent {
    border: 7px solid #ee9090;
    border-radius: 30px 30px 30px 30px;
    border-style: dotted;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}
.ques {
    font-family: var(--font-Suite);
}
@font-face {
    font-family: "Chassam";
    font-weight: normal;
    src: url('./font/KCC-Chassam.ttf');
}
@font-face {
    font-family: "SCDream";
    font-weight: 400;
    src: url('./font/SCDream2.otf');
}
@font-face {
    font-family: "Suite";
    font-weight: 400;
    src: url('./font/SUITE-Regular.ttf');
}
@font-face {
    font-family: "Beomsuk";
    font-weight: 400;
    src: url('./font/HumanBeomsuk.ttf');
}
@font-face {
    font-family: "Skybori";
    font-weight: 400;
    src: url('./font/SKYBORI.ttf');
}
@font-face {
    font-family: "Ramche";
    src: url('./font/Ramche.ttf');
}
@font-face {
    font-family: "Dnf";
    font-weight: 400;
    src: url('./font/DNFBitBitv2.ttf');
}
@font-face {
    font-family: "Gmarket";
    font-weight: 400;
    src: url('./font/GmarketSansTTFMedium.ttf');
}
@font-face {
    font-family: "Dos";
    font-weight: 400;
    src: url('./font/DOSGothic.ttf');
}
@font-face {
    font-family: "Neo";
    font-weight: 400;
    src: url('./font/neodgm.ttf');
}
@font-face {
    font-family: "Gal";
    font-weight: 400;
    src: url('./font/Galmuri14.ttf');
}
@font-face {
    font-family: "Dov";
    font-weight: 400;
    src: url('./font/Dovemayo_gothic.ttf');
}
@font-face {
    font-family: "Dia";
    font-weight: 400;
    src: url('./font/EF_Diary.ttf');
}

:root {
    --font-googleDosis: "googleDosis";
    --font-Chassam: "Chassam";
    --font-SCDream: "SCDream";
    --font-Suite: "Suite";
    --font-Skybori: "Skybori";
    --font-Beomsuk: "Beomsuk";
}
.friends {
    width: 100%; 
    padding-top: 40px;
    padding-bottom: 18px;
    font-size: 30px;
    text-align: center;
    font-family: var(--font-Chassam);
}
.friendsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 14px;
    height:100%;
    width:330px;
    margin-bottom: 10px ;
}
.item {
    border-radius: 7px;
    padding: 16px;
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #464040;

}
.itemContainer {
    text-align: center;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Gal', sans-serif;
    cursor: pointer;

}
.itemContent {
    font-family: var(--font-SCDream);
    font-size: 15px;
    
}
.myPgBtn {
    font-family: var(--font-Chassam);
    font-size: 18px;
    color: white;
    background-color: #e9a3a3;
    border-radius: 5px;
    margin: 50px 0px 50px 0px;
    padding: 15px 20px;
    cursor: pointer;
}
.myPgContainer{
    margin: 0px 0px 0px 0px;
 
    padding: 10px 10px;
    width:600px;
    align-items: center;
    justify-content: center;
}
.myPgQues{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 0px 15px;
    font-family: var(--font-SCDream);
}
.myPgAns{
    display: flex;
    justify-content: center;
    margin: 0px 25px 0px 50px;
    font-family: var(--font-SCDream);

}
.myPgLine{
    display: flex;
    margin: 0px 3px 0px 3px;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    justify-content: space-between;    /*내용물을 양쪽 끝에 정렬*/

}

.myPgBelow {
    border: 2px #000000;
    padding: 250px 10px 5px 10px;
    text-align: center;
}
